/* 全体のスタイル */
html,
body {
  font-size: 1.8rem;
  text-align: center;
} /* １番大きな要素 */
.page-header,
.page-footer,
.main-content {
  margin: 30px 0;
  border: 5px solid red;
} /* main-content内の要素 */
.main-visual,
.intro-section {
  margin: 30px;
  border: 5px solid green;
} /* intro-section内の要素 */
.intro-section__header,
.intro-section__nav,
.intro-section__content,
.intro-section__contact {
  margin: 30px;
  border: 5px solid blue;
}
